/* Start Varibales */
:root {
    --main-color:#10cab7;
    --secandory-color: #2c4755;
    --section-pading:60px;
    --section-background: #f6f6f6;
}
/* End Varibales */
/* Start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
}
.special-heading + p {
    color: #797979;
    font-size: 20px;
    text-align: center;
    margin: -30px 0 0;
}
/* End components */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screens */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
    padding: 8px;
    background-color: var(--secandory-color);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 30px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}
.header .links .icon span {
    background-color: white;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: .3s;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    transition: .3s;
}
.header .links:hover ul {
    display: block;
    cursor: pointer;
    transition: .3s;
}
.header .links ul::before {
    position: absolute;
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;
}
.header .links ul li a {
    display: block;
    padding:   15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #eee;
}
/* End Header */

/* Start landing section */
.landing {
    background-image: url(../img/4.jpg);
    background-size: cover;
    height: calc(100vh - 46px);
    position: relative; 
}
.landing .intro-text {
    position: absolute;
    width: 320px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.landing .intro-text p {
    font-size: 16px;
    line-height: 1.8;
    color: white;
}
/* End landing section */
/* Start feature section */
.features {
    padding-top:    var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
    transition: .3s;
}
.features .feat:hover {
    background-color: white;
    box-shadow: 5px 5px 10px #2c475528;
    transition: .3s;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End feature section */

/* Start services */
.services {
    padding-top:    var(--section-pading);
    padding-bottom: var(--section-pading);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: '';
    position: absolute;
    background-color: var(--secandory-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}
.services .services-content .image img {
    width: 260px;
}
/* End services */
/* Start Portfolio Section */
.portfolio {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
} 
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}
/* End Portfolio Section */
/* Start About Section */
.about {
    padding-top: var(--section-pading);
    padding-bottom: calc(var(--section-pading) + 60px);
}
.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content {
    flex-direction: column;
    text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 50px;
    }
}
.about .about-content .image::before {
    position: absolute;
    content: '';
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
    background-color: #ebeced;
}
.about .about-content .image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    right: -150px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}

@media (max-width:991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    color: var(--secandory-color);
    width: 75%;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 20px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
    width: 75%;

}
/* End About Section */
/* Start Contact */
.contact {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: var(--section-background);
}
.contact .info {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secandory-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
@media (max-width:767px) {
    .contact .info p,
    .contact .info .link{
        font-size: 25px;
    }
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 8px;
    color: var(--secandory-color);
}
/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--secandory-color);
    color: white;
    padding: 20px 10px;
    text-align: center;
    font-size: 14px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* end Footer */